.span12
  %ul.breadcrumb
    %li
      = link_to 'Overview', root_path
      %span.divider
        \/
    %li.active
      Bar Demo
.span12
  = render 'shared/rows_fetched_well', rows_fetched: @datasets.count
.span12
  = render 'shared/chart_canvas', datasets: @datasets
= render 'chart_templates/bar_chart.js.erb', datasets: @datasets
.span12
  = render 'shared/dataset_table'