.span12
  %ul.breadcrumb
    %li.active
      Overview
.span6.offset3
  %table.table.table-bordered.table-striped.tablesorter
    %thead
      %tr
        %th(colspan='3')
          Chart examples
    %tbody
      %tr
        %td
          = link_to 'Line', line_path
        %td
          = link_to 'Line (no Chart)', line_path(no_chart: 1)
        %td
          = link_to 'Line (no Table)', line_path(no_table: 1)
      %tr
        %td
          = link_to 'Bar', bar_path
        %td
          = link_to 'Bar (no Chart)', bar_path(no_chart: 1)
        %td
          = link_to 'Bar (no Table)', bar_path(no_table: 1)
      %tr
        %td
          = link_to 'Radar', radar_path
        %td
          = link_to 'Radar (no Chart)', radar_path(no_chart: 1)
        %td
          = link_to 'Radar (no Table)', radar_path(no_table: 1)
      %tr
        %td
          = link_to 'Polar area', polar_area_path
        %td
          = link_to 'Polar area (no Chart)', polar_area_path(no_chart: 1)
        %td
          = link_to 'Polar area (no Table)', polar_area_path(no_table: 1)
      %tr
        %td
          = link_to 'Pie', pie_path
        %td
          = link_to 'Pie (no Chart)', pie_path(no_chart: 1)
        %td
          = link_to 'Pie (no Table)', pie_path(no_table: 1)
      %tr
        %td
          = link_to 'Doughnut', doughnut_path
        %td
          = link_to 'Doughnut (no Chart)', doughnut_path(no_chart: 1)
        %td
          = link_to 'Doughnut (no Table)', doughnut_path(no_table: 1)
.span6.offset3
  .well
    There is a total of
    %br
    %strong
      = @datasets.count
    %br
    row(s) in the database
.span6.offset3
  .well
    %strong
      Available GET-Parameters:
    %br
    ?count=X
    %br
    ?no_chart=X
    %br
    ?no_table=X
.span6.offset3
  .well
    %strong
      Available APIs:
    %br
    There are XML and JSON APIs available. Just append .json or .xml to the url
    %br
    = link_to 'localhost:3000/pie.json', pie_path(format: :json)
    %br
    = link_to 'localhost:3000/doughnut.xml', doughnut_path(format: :xml)