.span12
  %ul.breadcrumb
    %li
      = link_to 'Overview', root_path
      %span.divider
        \/
    %li.active
      Line Demo
.span12
  = render 'shared/rows_fetched_well', rows_fetched: @datasets.count
- if params[:no_chart] != 1.to_s
  .span12
    = render 'shared/chart_canvas', datasets: @datasets
  = render 'chart_templates/line_chart.js.erb', datasets: @datasets
- if params[:no_table] != 1.to_s
  .span12
    = render 'shared/dataset_table'