!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=0'}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %title
      = @title ? "#{@title} - Example SQLite Chart.js" : 'Example SQLite Chart.js'
  %body
    = render 'layouts/navigation'
    .container
      = yield